target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### DS Store ###
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store

git rm --no-cached .DS_Store && \
git rm --no-cached src/.DS_Store src/main/.DS_Store && \
git rm --no-cached src/main/java/.DS_Store && \
git rm --no-cached src/main/java/com/.DS_Store